# youngtw.net
youngtw.net {
    reverse_proxy 192.168.0.135:12348
    tls {
        on_demand
    }
}

# young-tw.com
young-tw.com {
    redir https://youngtw.net{uri} permanent
}

# blog.young-tw.com
blog.young-tw.com {
    reverse_proxy 192.168.0.135:12347
    tls {
        on_demand
    }
}

# mc.young-tw.com
mc.young-tw.com {
    reverse_proxy 192.168.0.135:12349
    tls {
        on_demand
    }
}
